services:
    silent-speaker:
        build: 
            context: .
            dockerfile: Dockerfile
            network: host
        container_name: silent-speaker-container
        image: silent_speaker
        hostname: hemmelig
        init: true
        volumes:
            - ./data/hemmelig/:/var/tmp/hemmelig/upload/files
            - ./database/:/home/node/hemmelig/database/
        environment:
            - SECRET_LOCAL_HOSTNAME=0.0.0.0 # The local hostname for the fastify instance
            - SECRET_PORT=3000 # The port number for the fastify instance
            - SECRET_HOST=!changeme! # Used for i.e. set cors/cookies to your domain name
            - SECRET_ROOT_USER=groot # User as the root admin user
            - SECRET_ROOT_PASSWORD=iamroot # The admin user password (change this after signed in)
            - SECRET_ROOT_EMAIL=groot@hemmelig.app # The email for the admin user
            - SECRET_FILE_SIZE=4 # Set the total allowed upload file size in mb
            - SECRET_FORCED_LANGUAGE=en # Set the default language for the application
            - SECRET_JWT_SECRET=!changeme! # Override this for the secret signin JWT tokens for log in
            - SECRET_MAX_TEXT_SIZE=256 # The max text size for the secret. Is set in kb. i.e. 256 for 256kb
        labels:
            traefik.docker.network: "traefik-net"
            traefik.enable: "true"
            traefik.http.routers.silent-speaker.entrypoints: "https"
            traefik.http.routers.silent-speaker.middlewares: "default@file"
            traefik.http.routers.silent-speaker.rule: "Host(`${PROJECT_DOMAIN}`)"
            traefik.http.routers.silent-speaker.tls.certresolver: "letsEncrypt"
            traefik.http.routers.silent-speaker.tls.options: "modern@file"
            traefik.http.routers.silent-speaker.tls: "true"
            traefik.http.services.silent-speaker.loadbalancer.server.port: 3000
            traefik.http.services.silent-speaker.loadbalancer.sticky.cookie.httpOnly: "true"
            traefik.http.services.silent-speaker.loadbalancer.sticky.cookie.secure: "true"
        ports:
            - '3000:3000'
        restart: always
        stop_grace_period: 1m
        healthcheck:
            test: 'wget -O /dev/null localhost:3000 || exit 1'
            timeout: 5s
            retries: 1
networks:
  traefik-net:
    driver: overlay
    external: true 